<%-
  # generate form id, based on host and port
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")
-%>

<script>
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/rnode/<%= host %>/<%= port %>; secure";
}
// find closest anscestor with .card class, to get session id
var s = document.getElementById("<%= form_id %>").closest(".card").getAttribute("data-id");
setCookie("_ood_token_" + s, "<%= password %>", 7)
</script>

<form id="<%= form_id %>" action="/rnode/<%= host %>/<%= port %>/" method="post" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Tensorboard
  </button>
</form>
